[Unit]
Description=Periodically check for a staged system update to notify about

[Timer]
OnStartupSec=2min
OnUnitInactiveSec=30min
OnCalendar=*-*-* 08:00

[Install]
WantedBy=timers.target
